/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.eisenhower-matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.eisenhower-matrix__image {
  width: 100%;
}
.eisenhower-matrix .eisenhower-matrix__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .eisenhower-matrix { 
    text-align: center;
  }
}
.todo-list {
  display: block;
  width: 400px;
  margin: 0 auto 0;
}
.todo-list_task {
  width: 56%;
  display: inline-block;
}
#todo-list__incomplete-tasks {
  margin: 0;
  padding: 0px;
}
.todo-list__title {
  list-style: none;
}
.todo-list__input,
.todo-list__button{
  outline: none;
}
.todo-list__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.todo-list__button:hover {
  color: #3a3a3a;
}
/* Heading */
.todo-list__title_bold {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.todo-list__input_text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.todo-list__input_text:focus {
  color: #333;
}

/* New Task */
.todo-list__new-task {
  display: block;
  margin: 0 0 20px;
}
#todo-list__add-item {
  width: 318px;
}
.todo-list__button-add:hover {
  color: #0fc57c;
}

/* Task list */
.todo-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.todo-list__item > * {
  vertical-align: middle;
}

.todo-list__input_checkbox {
  margin: 0 10px;
}
.todo-list__label_task {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.todo-list__item > .todo-list__input_text {
  width: 226px;
  display: none;
}
.todo-list__item > .todo-list__button-delete:hover {
  color: #cf2323;
}
.todo-list__button-delete .todo-list__image-delete {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.todo-list__button-delete .todo-list__image-delete:hover {
  transform: rotateZ(0);
}

/* Completed */
#todo-list__completed-tasks .todo-list__label_task {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.todo-list__edit-mode .todo-list__input_text {
  display: inline-block;
  width: 224px;
}

.todo-list__edit-mode .todo-list__label_task {
  display: none;
}